// sass --watch input.scss:output.css 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  

/* Header */
header{
    padding: 20px 0;
    h1{
        color: rgba(255,255,255,.9);
    }
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#start,
#end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#end{
    position: absolute;
}

#difficulty{
    display: block;
    border-color: #d4d4d4;
}

/* cards */
#items{
    div,
    div img{
        transition: transform 300ms;
    }
    div{
        background: #efebe9;
        border: 2px solid #d4d4d4;
        width: 120px;
        height: 120px;
        display: inline-block;
        margin: 5px;
        img{
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
        }
    }
    div.flipped{
        transform: rotateY(180deg);
        img{	
            transform: rotateY(180deg);
        }
    }
} 

.easy{
    max-width: calc(130px * 2);
}
.normal{
    max-width: calc(130px * 4);
}
.hard{
    max-width: calc(130px * 4);
}
.very-hard{
    max-width: calc(130px * 6);;
}

footer{
    padding: 20px 0;
    color: rgba($color: #fff, $alpha: 0.9);
}

#restart{
    margin-bottom: 15px;
}